<p>
  <strong>Number:</strong>
  <%= @program.number %>
</p>
 
<p>
  <strong>Title:</strong>
  <%= @program.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @program.description %>
</p>

<p>
  <strong>Air date:</strong>
  <%= @program.airing_date %>
</p>

<p>
  <strong>Aired:</strong>
  <%= @days_ago_s %>
</p>